html {
  width: 100%;
  height: 100%;

  /* adds space for the picture around the flashcard */
  box-sizing: border-box;
  padding: 1rem;

  /* adds a centered background image */
  background-image: url(_lake.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;

  user-select: none;
}

hr {
  border: 1px dashed white;
  opacity: 50%;
  background-color: transparent;
}

.card {
  /* styling for the box */
  font-family: helvetica;
  font-size: 1.5rem;
  text-align: center;
  color: black;
  background-color: transparent;

  /* adds padding around the box */
  box-sizing: border-box;
  padding: 1rem;
  margin: 0;

  display: grid;
  grid-template-rows: minmax(0, 1fr);
  max-height: 100%;
}

.card.nightMode {
  color: white;
  background-color: rgb(0, 0, 0, 0.45);
}

#qa {
  overflow-y: auto;
  overflow-x: hidden;
}

#qa::-webkit-scrollbar {
  display: none;
}

.cloze {
  color: #fb4934;
}